<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDsjfTiWlb0QV2TNPXe11r6NV1l_j3tcNE</string>
	<key>GCM_SENDER_ID</key>
	<string>381793026851</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WebRtcApp.WebRtcDemoApp</string>
	<key>PROJECT_ID</key>
	<string>livestreamapp-99100</string>
	<key>STORAGE_BUCKET</key>
	<string>livestreamapp-99100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:381793026851:ios:fe676c07890afd9fbb4296</string>
</dict>
</plist>